@import 'dist/functions/array_merge';

/**
 * Test array_merge()
 */
@include test-module('array_merge function') 
{

    // Test Array
    $test_array: ( 
        0: "shayne",
        1: "peyton",
        2: "rose"
    );

    // Test Array
    $test_array2: (
        2: "john",
        3: "bill"
    );

    // Test Array
    $test_array3: (
        3: "Tobias",
        4: "Julius",
        5: "Angelo",
        6: "Kasey"
    );

    // Test Array
    $test_array4: (
        4: "Carolin",
        7: "Sharla"
    );

    // Test Array
    $test_array5: (
        1,
        2,
        3
    );

    // Test Array
    $test_array6: (
        4,
        5,
        6
    );

    // Test array_merge() returns the expected result
    @include test('test_array_merge_returns_correct_value') 
    {

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array, 
                $test_array2
            )), 

            // Expected Result
            inspect(
                (0: "shayne", 1: "peyton", 2: "rose", 3: "john", 4: "bill")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array,
                $test_array3
            )), 

            // Expected Result
            inspect(
                (0: "shayne", 1: "peyton", 2: "rose", 3: "Tobias", 4: "Julius", 5: "Angelo", 6: "Kasey")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array,
                $test_array4
            )), 

            // Expected Result
            inspect(
                (0: "shayne", 1: "peyton", 2: "rose", 3: "Carolin", 4: "Sharla")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array2, 
                $test_array
            )), 

            // Expected Result
            inspect(
                (0: "john", 1: "bill", 2: "shayne", 3: "peyton", 4: "rose")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array2, 
                $test_array3
            )), 

            // Expected Result
            inspect(
                (0: "john", 1: "bill", 2: "Tobias", 3: "Julius", 4: "Angelo", 5: "Kasey")
            )

        );

        
        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array2, 
                $test_array4
            )), 

            // Expected Result
            inspect(
                (0: "john", 1: "bill", 2: "Carolin", 3: "Sharla")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array3, 
                $test_array
            )), 

            // Expected Result
            inspect(
                (0: "Tobias", 1: "Julius", 2: "Angelo", 3: "Kasey", 4: "shayne", 5: "peyton", 6: "rose")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array3, 
                $test_array2
            )), 

            // Expected Result
            inspect(
                (0: "Tobias", 1: "Julius", 2: "Angelo", 3: "Kasey", 4: "john", 5: "bill")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array3, 
                $test_array4
            )), 

            // Expected Result
            inspect(
                (0: "Tobias", 1: "Julius", 2: "Angelo", 3: "Kasey", 4: "Carolin", 5: "Sharla")
            )

        );
        
        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array4, 
                $test_array
            )), 

            // Expected Result
            inspect(
                (0: "Carolin", 1: "Sharla", 2: "shayne", 3: "peyton", 4: "rose")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array4, 
                $test_array2
            )), 

            // Expected Result
            inspect(
                (0: "Carolin", 1: "Sharla", 2: "john", 3: "bill")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array4, 
                $test_array3
            )), 

            // Expected Result
            inspect(
                (0: "Carolin", 1: "Sharla", 2: "Tobias", 3: "Julius", 4: "Angelo", 5: "Kasey")
            )

        );

        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array5,
                $test_array6
            )), 

            // Expected Result
            inspect(
                (0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6)
            )

        );      
        
        // Validate Equal
        @include assert-equal(

            // Result
            inspect(array_merge(
                $test_array6,
                $test_array5
            )), 

            // Expected Result
            inspect(
                (0: 4, 1: 5, 2: 6, 3: 1, 4: 2, 5: 3)
            )

        );

    }

}